## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [11]:
# 設定 data_path
dir_data = '../data/'

In [12]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app, encoding='utf-8')

Path of read in data: ../data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [19]:
print('row number:', len(app_train.index),
      '\ncolumn number:', len(app_train.columns))

row number: 307511
column number: 122

#### 列出所有欄位

In [21]:
print(app_train.columns, app_train.index)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122) RangeIndex(start=0, stop=307511, step=1)

#### 截取部分資料

In [85]:
app_train.loc[20:30, ['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE']]

    SK_ID_CURR  TARGET NAME_CONTRACT_TYPE
20      100024       0    Revolving loans
21      100025       0         Cash loans
22      100026       0         Cash loans
23      100027       0         Cash loans
24      100029       0         Cash loans
25      100030       0         Cash loans
26      100031       1         Cash loans
27      100032       0         Cash loans
28      100033       0         Cash loans
29      100034       0    Revolving loans
30      100035       0         Cash loans

In [84]:
# random selet from dataFrame
app_train.loc[np.random.randint(0,len(app_train.index)/2):np.random.randint(len(app_train.index)/2,len(app_train.index)), 
              [app_train.columns[np.random.choice(len(app_train.columns))] for i in range(np.random.choice(len(app_train.columns)//5))]]

,NAME_EDUCATION_TYPE,WALLSMATERIAL_MODE,NONLIVINGAPARTMENTS_AVG,LIVINGAREA_MODE,FLAG_DOCUMENT_16,YEARS_BUILD_MODE,OBS_30_CNT_SOCIAL_CIRCLE,EXT_SOURCE_3,ORGANIZATION_TYPE,FLAG_EMAIL,AMT_GOODS_PRICE
36512,Higher education,NaN,NaN,NaN,0,NaN,0.0,0.470456,Agriculture,0,450000.0
36513,Higher education,NaN,NaN,NaN,0,NaN,1.0,0.746300,Medicine,0,450000.0
36514,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,NaN,XNA,0,202500.0
36515,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.531686,Trade: type 7,0,463500.0
36516,Incomplete higher,NaN,NaN,NaN,0,NaN,0.0,0.533482,Self-employed,0,360000.0
36517,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,NaN,Government,0,225000.0
36518,Secondary / secondary special,NaN,NaN,NaN,0,NaN,2.0,NaN,Business Entity Type 3,0,180000.0
36519,Higher education,NaN,NaN,NaN,0,NaN,3.0,0.852828,XNA,0,1219500.0
36520,Secondary / secondary special,Wooden,NaN,0.0149,0,NaN,0.0,0.616122,Business Entity Type 3,0,1350000.0
36521,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.068711,XNA,0,823500.0
36522,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.698668,Self-employed,0,328500.0
36523,Secondary / secondary special,"Stone, brick",0.0000,0.0380,0,0.8367,1.0,0.413597,Business Entity Type 2,0,900000.0
36524,Secondary / secondary special,"Stone, brick",0.0000,0.0358,0,0.8563,0.0,NaN,XNA,0,256500.0
36525,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.526295,Security,0,1125000.0
36526,Lower secondary,NaN,NaN,NaN,0,NaN,0.0,0.602386,Business Entity Type 3,0,225000.0
36527,Secondary / secondary special,Panel,0.0000,0.4584,0,0.9281,0.0,0.556727,XNA,1,180000.0
36528,Higher education,Panel,0.0000,0.2060,0,0.8563,0.0,0.280790,Services,0,450000.0
36529,Secondary / secondary special,Wooden,0.0000,0.0066,0,0.6537,2.0,0.495666,Trade: type 7,0,180000.0
36530,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.396220,Transport: type 2,0,675000.0
36531,Secondary / secondary special,"Stone, brick",NaN,0.0155,0,NaN,0.0,0.636376,Self-employed,0,679500.0
36532,Secondary / secondary special,Panel,NaN,0.0974,0,NaN,0.0,NaN,Trade: type 3,0,135000.0
36533,Secondary / secondary special,"Stone, brick",0.0039,0.0596,0,0.7452,0.0,0.531686,Government,0,225000.0
36534,Higher education,Panel,0.0039,0.0666,0,0.7975,0.0,0.574447,Business Entity Type 3,0,450000.0
36535,Secondary / secondary special,Panel,0.0000,0.1148,0,0.7256,13.0,0.639708,Security,0,1206000.0
36536,Incomplete higher,"Stone, brick",0.0000,0.0342,0,0.7256,0.0,0.517297,Telecom,1,225000.0
36537,Secondary / secondary special,NaN,NaN,NaN,0,NaN,4.0,0.205598,XNA,0,360000.0
36538,Higher education,"Stone, brick",0.0232,0.3346,0,0.9543,3.0,0.490258,Business Entity Type 3,0,585000.0
36539,Secondary / secondary special,Panel,0.0039,0.0571,0,0.8236,1.0,0.593718,Other,0,481500.0
36540,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.060444,Medicine,0,450000.0
36541,Secondary / secondary special,Panel,0.0502,0.2819,0,0.7975,1.0,0.326475,XNA,1,202500.0
...,...,...,...,...,...,...,...,...,...,...,...
164946,Higher education,"Stone, brick",NaN,0.0333,0,NaN,0.0,0.646330,Business Entity Type 3,1,463500.0
164947,Secondary / secondary special,"Stone, brick",NaN,0.0499,0,NaN,1.0,0.401407,Electricity,0,225000.0
164948,Secondary / secondary special,NaN,NaN,NaN,0,NaN,2.0,NaN,XNA,0,238500.0
164949,Academic degree,"Stone, brick",0.0116,0.0531,0,0.6994,0.0,0.174564,Advertising,0,225000.0
164950,Secondary / secondary special,NaN,NaN,NaN,0,NaN,9.0,0.347418,Police,0,630000.0
164951,Higher education,Wooden,NaN,0.0024,0,NaN,0.0,0.709189,Self-employed,0,225000.0
164952,Incomplete higher,Panel,NaN,0.0891,0,NaN,1.0,0.697147,Government,0,891000.0
164953,Secondary / secondary special,"Stone, brick",NaN,0.0147,0,NaN,3.0,0.200926,XNA,0,495000.0
164954,Secondary / secondary special,"Stone, brick",0.0116,0.0541,0,0.7779,1.0,0.649620,Business Entity Type 2,0,450000.0
164955,Secondary / secondary special,NaN,NaN,NaN,0,NaN,1.0,0.675413,Self-employed,0,486000.0
164956,Higher education,"Stone, brick",NaN,0.0495,0,NaN,0.0,NaN,Business Entity Type 3,0,922500.0
164957,Secondary / secondary special,Panel,0.0000,0.3688,0,0.8301,3.0,0.694093,Business Entity Type 3,0,441000.0
164958,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.646330,Business Entity Type 3,0,337500.0
164959,Higher education,"Stone, brick",NaN,0.0865,0,NaN,0.0,NaN,XNA,0,495000.0
164960,Secondary / secondary special,NaN,NaN,NaN,0,NaN,1.0,0.535276,Trade: type 6,0,922500.0
164961,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.535276,Government,0,900000.0
164962,Incomplete higher,"Stone, brick",NaN,0.0649,0,0.6864,0.0,0.558507,Business Entity Type 2,0,1350000.0
164963,Higher education,NaN,NaN,NaN,0,NaN,3.0,0.652897,Business Entity Type 3,0,1129500.0
164964,Higher education,Mixed,NaN,0.1418,0,0.8693,0.0,0.440058,Business Entity Type 3,0,1125000.0
164965,Incomplete higher,"Stone, brick",0.0019,0.0353,0,0.9804,0.0,NaN,Business Entity Type 3,0,450000.0
164966,Secondary / secondary special,Wooden,NaN,0.0067,0,NaN,4.0,0.673830,Self-employed,0,454500.0
164967,Higher education,NaN,NaN,0.0577,0,NaN,1.0,0.286652,Government,0,382500.0
164968,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.072013,Other,0,126000.0
164969,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.104795,Business Entity Type 3,0,495000.0
164970,Higher education,Panel,0.0000,0.1451,0,0.8040,1.0,0.454321,Business Entity Type 3,0,1161000.0
164971,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,NaN,Self-employed,0,180000.0
164972,Higher education,Panel,0.0000,0.2543,0,0.8497,0.0,0.529890,Business Entity Type 2,0,198000.0
164973,Secondary / secondary special,NaN,NaN,NaN,0,NaN,0.0,0.662638,Self-employed,1,157500.0
164974,Secondary / secondary special,NaN,NaN,NaN,0,NaN,2.0,0.739412,XNA,0,67500.0
164975,Higher education,NaN,NaN,NaN,0,NaN,0.0,0.279335,XNA,0,180000.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子