## 練習時間
假設我們資料中類別的數量並不均衡，在評估準確率時可能會有所偏頗，試著切分出 y_test 中，0 類別與 1 類別的數量是一樣的 (亦即 y_test 的類別是均衡的)

In [1]:
import numpy as np
X = np.arange(1000).reshape(200, 5)
y = np.zeros(200)
y[:40] = 1

In [2]:
y

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

可以看見 y 類別中，有 160 個 類別 0，40 個 類別 1 ，請試著使用 train_test_split 函數，切分出 y_test 中能各有 10 筆類別 0 與 10 筆類別 1 。(HINT: 參考函數中的 test_size，可針對不同類別各自作切分後再合併)

In [3]:
from sklearn.model_selection import train_test_split
X_train_1, X_test_1, Y_train_1, Y_test_1 = train_test_split(X[:40, :], y[:40] ,test_size=10/40)
X_train_0, X_test_0, Y_train_0, Y_test_0 = train_test_split(X[40:, :], y[40:] ,test_size=10/160)
X_train, X_test = np.concatenate((X_train_1, X_train_0), axis=0), np.concatenate((X_test_1, X_test_0), axis=0)
Y_train, Y_test = np.concatenate((Y_train_1, Y_train_0), axis=0), np.concatenate((Y_test_1, Y_test_0), axis=0)

In [4]:
X_train.shape, Y_train.shape

((180, 5), (180,))

In [5]:
import pandas as pd
data_train = pd.DataFrame(np.concatenate((X_train, Y_train.reshape(-1, 1)), axis=1))
data_test = pd.DataFrame(np.concatenate((X_test, Y_test.reshape(-1, 1)), axis=1))

In [6]:
data_test

        0      1      2      3      4    5
0    95.0   96.0   97.0   98.0   99.0  1.0
1   185.0  186.0  187.0  188.0  189.0  1.0
2    35.0   36.0   37.0   38.0   39.0  1.0
3    75.0   76.0   77.0   78.0   79.0  1.0
4   115.0  116.0  117.0  118.0  119.0  1.0
5    60.0   61.0   62.0   63.0   64.0  1.0
6   135.0  136.0  137.0  138.0  139.0  1.0
7   190.0  191.0  192.0  193.0  194.0  1.0
8   180.0  181.0  182.0  183.0  184.0  1.0
9   195.0  196.0  197.0  198.0  199.0  1.0
10  955.0  956.0  957.0  958.0  959.0  0.0
11  655.0  656.0  657.0  658.0  659.0  0.0
12  530.0  531.0  532.0  533.0  534.0  0.0
13  800.0  801.0  802.0  803.0  804.0  0.0
14  665.0  666.0  667.0  668.0  669.0  0.0
15  480.0  481.0  482.0  483.0  484.0  0.0
16  810.0  811.0  812.0  813.0  814.0  0.0
17  220.0  221.0  222.0  223.0  224.0  0.0
18  515.0  516.0  517.0  518.0  519.0  0.0
19  915.0  916.0  917.0  918.0  919.0  0.0