In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
data_df = pd.read_csv('./train.csv', encoding='utf-8', header=None)
data_label_df = pd.read_csv('./trainLabels.csv', encoding='utf-8', header=None)
pred_df = pd.read_csv('./test.csv', encoding='utf-8', header=None)

In [34]:
data_df.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332

In [35]:
data_df.shape, data_label_df.shape, pred_df.shape

((1000, 40), (1000, 1), (9000, 40))

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn import metrics

In [37]:
x_train, x_test, y_train, y_test = train_test_split(data_df, data_label_df, test_size=0.25, random_state=0)

In [39]:
LR_clf = LogisticRegression()
result_LR = cross_val_score(LR_clf, x_train, y_train, scoring='accuracy', cv=10, n_jobs=-1, verbose=1)
print('Training_acc:{:.3} +/- {:.3}'.format(np.mean(result_LR), np.std(result_LR)*2))
LR_clf.fit(x_train, y_train)
Train_confusion = pd.DataFrame(metrics.confusion_matrix(y_train, LR_clf.predict(x_train)))
print('Testing_acc:{:.3}'.format(metrics.accuracy_score(y_test, LR_clf.predict(x_test))))
Train_confusion

Training_acc:0.818 +/- 0.132
Testing_acc:0.828

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of  10 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.0s finished
C:\Users\crea\Anaconda3\envs\my_env\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\crea\Anaconda3\envs\my_env\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     0    1
0  316   60
1   60  314

In [15]:
LR_clf = LogisticRegression()
result_LR = cross_val_score(LR_clf, train_df, train_label_df, scoring='accuracy', cv=10, n_jobs=-1, verbose=1)
print('Training_acc:{:.3} +/- {:.3}'.format(np.mean(result_LR), np.std(result_LR)*2))
LR_clf.fit(train_df, train_label_df)
pd.DataFrame(metrics.confusion_matrix(train_label_df, LR_clf.predict(train_df)))

Training_acc:0.82 +/- 0.0587

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of  10 | elapsed:    0.0s remaining:    0.1s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.0s finished
C:\Users\crea\Anaconda3\envs\my_env\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\crea\Anaconda3\envs\my_env\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     0    1
0  413   77
1   84  426

In [40]:
y_pred = LR_clf.predict(pred_df)
y_pred_df = pd.DataFrame(y_pred).reset_index()
y_pred_df['index'] = y_pred_df['index'] + 1
y_pred_df.columns = ['Id', 'Solution']
y_pred_df.to_csv('test_result_190607.csv', encoding='utf-8', index=False)

In [41]:
pd.read_csv('./test_result_190607.csv').head()

   Id  Solution
0   1         1
1   2         0
2   3         0
3   4         0
4   5         0