In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = '../data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

檢視資料中各個欄位類型的數量

In [4]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [13]:
app_train.dtypes

SK_ID_CURR                                    int64
TARGET                                        int64
NAME_CONTRACT_TYPE                            int32
FLAG_OWN_CAR                                  int32
FLAG_OWN_REALTY                               int32
CNT_CHILDREN                                  int64
AMT_INCOME_TOTAL                            float64
AMT_CREDIT                                  float64
AMT_ANNUITY                                 float64
AMT_GOODS_PRICE                             float64
REGION_POPULATION_RELATIVE                  float64
DAYS_BIRTH                                    int64
DAYS_EMPLOYED                                 int64
DAYS_REGISTRATION                           float64
DAYS_ID_PUBLISH                               int64
OWN_CAR_AGE                                 float64
FLAG_MOBIL                                    int64
FLAG_EMP_PHONE                                int64
FLAG_WORK_PHONE                               int64
FLAG_CONT_MOBILE                              int64
FLAG_PHONE                                    int64
FLAG_EMAIL                                    int64
CNT_FAM_MEMBERS                             float64
REGION_RATING_CLIENT                          int64
REGION_RATING_CLIENT_W_CITY                   int64
HOUR_APPR_PROCESS_START                       int64
REG_REGION_NOT_LIVE_REGION                    int64
REG_REGION_NOT_WORK_REGION                    int64
LIVE_REGION_NOT_WORK_REGION                   int64
REG_CITY_NOT_LIVE_CITY                        int64
                                             ...
ORGANIZATION_TYPE_Telecom                     uint8
ORGANIZATION_TYPE_Trade: type 1               uint8
ORGANIZATION_TYPE_Trade: type 2               uint8
ORGANIZATION_TYPE_Trade: type 3               uint8
ORGANIZATION_TYPE_Trade: type 4               uint8
ORGANIZATION_TYPE_Trade: type 5               uint8
ORGANIZATION_TYPE_Trade: type 6               uint8
ORGANIZATION_TYPE_Trade: type 7               uint8
ORGANIZATION_TYPE_Transport: type 1           uint8
ORGANIZATION_TYPE_Transport: type 2           uint8
ORGANIZATION_TYPE_Transport: type 3           uint8
ORGANIZATION_TYPE_Transport: type 4           uint8
ORGANIZATION_TYPE_University                  uint8
ORGANIZATION_TYPE_XNA                         uint8
FONDKAPREMONT_MODE_not specified              uint8
FONDKAPREMONT_MODE_org spec account           uint8
FONDKAPREMONT_MODE_reg oper account           uint8
FONDKAPREMONT_MODE_reg oper spec account      uint8
HOUSETYPE_MODE_block of flats                 uint8
HOUSETYPE_MODE_specific housing               uint8
HOUSETYPE_MODE_terraced house                 uint8
WALLSMATERIAL_MODE_Block                      uint8
WALLSMATERIAL_MODE_Mixed                      uint8
WALLSMATERIAL_MODE_Monolithic                 uint8
WALLSMATERIAL_MODE_Others                     uint8
WALLSMATERIAL_MODE_Panel                      uint8
WALLSMATERIAL_MODE_Stone, brick               uint8
WALLSMATERIAL_MODE_Wooden                     uint8
EMERGENCYSTATE_MODE_No                        uint8
EMERGENCYSTATE_MODE_Yes                       uint8
Length: 243, dtype: object

In [3]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

檢視資料中類別型欄位各自類別的數量

In [8]:
app_train.select_dtypes(include=['int64'])

,SK_ID_CURR,TARGET,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,0,-9461,-637,-2120,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,0,-16765,-1188,-291,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,0,-19046,-225,-2531,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,-19005,-3039,-2437,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,-19932,-3038,-3458,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,0,-16941,-1588,-477,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
6,100009,0,1,-13778,-3130,-619,1,1,0,1,...,0,0,1,0,0,0,0,0,0,0
7,100010,0,0,-18850,-449,-2379,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
8,100011,0,0,-20099,365243,-3514,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,100012,0,0,-14469,-2019,-3992,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
10,100014,0,1,-10197,-679,-738,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
11,100015,0,0,-20417,365243,-2512,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,100016,0,0,-13439,-2717,-3227,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
13,100017,0,1,-14086,-3028,-4911,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
14,100018,0,0,-14583,-203,-2056,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
15,100019,0,0,-8728,-1157,-1368,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
16,100020,0,0,-12931,-1317,-3866,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
17,100021,0,1,-9776,-191,-2427,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
18,100022,0,0,-17718,-7804,-1259,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
19,100023,0,1,-11348,-2038,-3964,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
20,100024,0,0,-18252,-4286,-1800,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
21,100025,0,1,-14815,-1652,-2299,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
22,100026,0,1,-11146,-4306,-2518,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
23,100027,0,0,-24827,365243,-3684,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24,100029,0,2,-11286,-746,-3729,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
25,100030,0,0,-19334,-3494,-2893,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
26,100031,1,0,-18724,-2628,-1827,1,1,0,1,...,0,0,0,0,1,0,0,0,0,0
27,100032,0,1,-15948,-1234,-3153,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
28,100033,0,0,-9994,-1796,-2661,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
29,100034,0,0,-10341,-1010,-3015,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,0,-20644,-3147,-3832,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307482,456226,0,0,-14106,-226,-933,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307483,456227,0,0,-24911,365243,-4213,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
307484,456228,0,0,-12847,-328,-35,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307485,456229,0,1,-11973,-670,-626,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
307486,456230,0,1,-16010,-1185,-4392,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307487,456231,0,0,-23125,365243,-4115,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
307488,456232,0,0,-10092,-1218,-2783,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307489,456233,1,0,-16471,-286,-9,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307490,456234,0,0,-9874,-1928,-2557,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307491,456235,0,2,-10976,-1953,-3369,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
307492,456236,0,0,-20965,-1618,-4410,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307493,456237,0,0,-17533,-2306,-1094,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307494,456238,0,1,-14958,-6573,-4519,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307495,456239,0,0,-20922,-7438,-4440,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307496,456240,0,0,-17345,-2178,-876,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307497,456241,0,0,-16679,-1222,-222,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307498,456242,0,0,-19102,-3689,-2650,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307499,456243,0,0,-16988,-8694,-509,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
307500,456244,0,0,-20390,-5326,-3906,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307501,456245,0,3,-12961,-1046,-3780,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
307502,456246,0,1,-16063,-8736,-4531,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
307503,456247,0,0,-11870,-399,-3936,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307504,456248,0,0,-16705,-7258,-259,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307505,456249,0,0,-24384,365243,-2357,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
307506,456251,0,0,-9327,-236,-1982,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307507,456252,0,0,-20775,365243,-4090,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
307508,456253,0,0,-14966,-7921,-5150,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307509,456254,1,0,-11961,-4786,-931,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
307510,456255,0,0,-16856,-1262,-410,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
app_train.select_dtypes(include=["object"])

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN,NaN,NaN,NaN
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN,NaN,NaN,NaN
5,Cash loans,M,N,Y,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Other,NaN,NaN,NaN,NaN
6,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,Accountants,SUNDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
7,Cash loans,M,Y,Y,Unaccompanied,State servant,Higher education,Married,House / apartment,Managers,MONDAY,Other,NaN,NaN,NaN,NaN
8,Cash loans,F,N,Y,Children,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,WEDNESDAY,XNA,NaN,NaN,NaN,NaN
9,Revolving loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,THURSDAY,Electricity,NaN,NaN,NaN,NaN
10,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Core staff,SATURDAY,Medicine,NaN,NaN,NaN,NaN
11,Cash loans,F,N,Y,Children,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,FRIDAY,XNA,NaN,NaN,NaN,NaN
12,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Business Entity Type 2,reg oper account,block of flats,NaN,No
13,Cash loans,M,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,THURSDAY,Self-employed,reg oper account,block of flats,Panel,No
14,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,Transport: type 2,reg oper account,block of flats,Panel,No
15,Cash loans,M,Y,Y,Family,Working,Secondary / secondary special,Single / not married,Rented apartment,Laborers,SATURDAY,Business Entity Type 2,NaN,NaN,NaN,NaN
16,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,THURSDAY,Government,NaN,NaN,NaN,NaN
17,Revolving loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,Construction,NaN,NaN,NaN,NaN
18,Revolving loans,F,N,Y,Other_A,Working,Secondary / secondary special,Widow,House / apartment,Laborers,FRIDAY,Housing,reg oper account,block of flats,"Stone, brick",No
19,Cash loans,F,N,Y,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,Core staff,MONDAY,Kindergarten,NaN,NaN,NaN,NaN
20,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Self-employed,reg oper account,block of flats,"Stone, brick",No
21,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Sales staff,MONDAY,Trade: type 7,NaN,NaN,NaN,NaN
22,Cash loans,F,N,N,Unaccompanied,Working,Secondary / secondary special,Married,Rented apartment,Sales staff,THURSDAY,Self-employed,reg oper account,block of flats,Panel,No
23,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,FRIDAY,XNA,org spec account,block of flats,Mixed,No
24,Cash loans,M,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,THURSDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
25,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Cleaning staff,SATURDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
26,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,Cooking staff,MONDAY,Business Entity Type 3,NaN,block of flats,Wooden,Yes
27,Cash loans,M,N,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Laborers,SATURDAY,Industry: type 11,NaN,NaN,NaN,NaN
28,Cash loans,M,Y,Y,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,NaN,WEDNESDAY,Military,NaN,NaN,NaN,NaN
29,Revolving loans,M,N,Y,Unaccompanied,Working,Higher education,Single / not married,With parents,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,Cash loans,M,N,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Managers,FRIDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
307482,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Managers,THURSDAY,Telecom,not specified,block of flats,Block,No
307483,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,"Stone, brick",No
307484,Cash loans,F,Y,N,Unaccompanied,Commercial associate,Secondary / secondary special,Married,Rented apartment,Managers,MONDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
307485,Revolving loans,F,N,Y,Family,Working,Secondary / secondary special,Separated,With parents,Sales staff,SATURDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
307486,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Higher education,Civil marriage,House / apartment,NaN,SATURDAY,Business Entity Type 2,NaN,block of flats,Panel,No
307487,Cash loans,M,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,WEDNESDAY,XNA,NaN,NaN,NaN,NaN
307488,Cash loans,F,N,N,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,Core staff,WEDNESDAY,Government,NaN,NaN,NaN,No
307489,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,Sales staff,FRIDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",Yes
307490,Cash loans,M,N,Y,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,Laborers,SATURDAY,Business Entity Type 1,NaN,NaN,NaN,NaN
307491,Cash loans,M,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Drivers,SATURDAY,Self-employed,NaN,NaN,NaN,NaN
307492,Cash loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,FRIDAY,Self-employed,NaN,NaN,NaN,NaN
307493,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Security staff,MONDAY,School,NaN,NaN,NaN,NaN
307494,Cash loans,M,Y,N,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,Drivers,MONDAY,Self-employed,NaN,NaN,NaN,NaN
307495,Cash loans,M,Y,N,Unaccompanied,Working,Higher education,Married,House / apartment,High skill tech staff,WEDNESDAY,Business Entity Type 3,org spec account,block of flats,Panel,No
307496,Revolving loans,F,N,N,Family,Working,Higher education,Married,House / apartment,Cooking staff,THURSDAY,Self-employed,NaN,NaN,NaN,NaN
307497,Cash loans,F,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,THURSDAY,Trade: type 7,NaN,NaN,NaN,NaN
307498,Cash loans,M,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,Construction,NaN,block of flats,Panel,No
307499,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Medicine staff,TUESDAY,Medicine,NaN,NaN,NaN,NaN
307500,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,NaN,FRIDAY,Business Entity Type 3,NaN,block of flats,Panel,No
307501,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Low-skill Laborers,WEDNESDAY,Industry: type 1,NaN,block of flats,"Stone, brick",No
307502,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,School,NaN,NaN,NaN,NaN
307503,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,Core staff,SATURDAY,Bank,NaN,NaN,NaN,NaN
307504,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,Sales staff,WEDNESDAY,Self-employed,NaN,NaN,NaN,NaN
307505,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Single / not married,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,Panel,No
307506,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,Sales staff,THURSDAY,Services,reg oper account,block of flats,"Stone, brick",No
307507,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,"Stone, brick",No
307508,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Separated,House / apartment,Managers,THURSDAY,School,reg oper account,block of flats,Panel,No
307509,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 1,NaN,block of flats,"Stone, brick",No
307510,Cash loans,F,N,N,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,Laborers,THURSDAY,Business Entity Type 3,NaN,block of flats,Panel,No

In [6]:
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

#### Label encoding
有仔細閱讀[參考資料](https://medium.com/@contactsunny/label-encoder-vs-one-hot-encoder-in-machine-learning-3fc273365621)的人可以發現，Label encoding 的表示方式會讓同一個欄位底下的類別之間有大小關係 (0<1<2<...)，所以在這裡我們只對有類別數量小於等於 2 的類別型欄位示範使用 Label encoding，但不表示這樣處理是最好的，一切取決於欄位本身的意義適合哪一種表示方法

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

3 columns were label encoded.

#### One Hot encoding
pandas 中的 one hot encoding 非常方便，一行程式碼就搞定

In [11]:
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Academic degree'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8

In [12]:
app_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100002,1,0,0,1,0,202500.000,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,1,0,1,0
1,100003,0,0,0,0,0,270000.000,1293502.5,35698.5,1129500.0,...,0,1,0,0,0,0,0,0,1,0
2,100004,0,1,1,1,0,67500.000,135000.0,6750.0,135000.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,0,1,0,135000.000,312682.5,29686.5,297000.0,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,0,1,0,121500.000,513000.0,21865.5,513000.0,...,0,0,0,0,0,0,0,0,0,0
5,100008,0,0,0,1,0,99000.000,490495.5,27517.5,454500.0,...,0,0,0,0,0,0,0,0,0,0
6,100009,0,0,1,1,1,171000.000,1560726.0,41301.0,1395000.0,...,0,0,0,0,0,0,0,0,0,0
7,100010,0,0,1,1,0,360000.000,1530000.0,42075.0,1530000.0,...,0,0,0,0,0,0,0,0,0,0
8,100011,0,0,0,1,0,112500.000,1019610.0,33826.5,913500.0,...,0,0,0,0,0,0,0,0,0,0
9,100012,0,1,0,1,0,135000.000,405000.0,20250.0,405000.0,...,0,0,0,0,0,0,0,0,0,0
10,100014,0,0,0,1,1,112500.000,652500.0,21177.0,652500.0,...,0,0,0,0,0,0,0,0,0,0
11,100015,0,0,0,1,0,38419.155,148365.0,10678.5,135000.0,...,0,0,0,0,0,0,0,0,0,0
12,100016,0,0,0,1,0,67500.000,80865.0,5881.5,67500.0,...,0,0,0,0,0,0,0,0,1,0
13,100017,0,0,1,0,1,225000.000,918468.0,28966.5,697500.0,...,0,0,0,0,0,1,0,0,1,0
14,100018,0,0,0,1,0,189000.000,773680.5,32778.0,679500.0,...,0,0,0,0,0,1,0,0,1,0
15,100019,0,0,1,1,0,157500.000,299772.0,20160.0,247500.0,...,0,0,0,0,0,0,0,0,0,0
16,100020,0,0,0,0,0,108000.000,509602.5,26149.5,387000.0,...,0,0,0,0,0,0,0,0,0,0
17,100021,0,1,0,1,1,81000.000,270000.0,13500.0,270000.0,...,0,0,0,0,0,0,0,0,0,0
18,100022,0,1,0,1,0,112500.000,157500.0,7875.0,157500.0,...,0,0,0,0,0,0,1,0,1,0
19,100023,0,0,0,1,1,90000.000,544491.0,17563.5,454500.0,...,0,0,0,0,0,0,0,0,0,0
20,100024,0,1,1,1,0,135000.000,427500.0,21375.0,427500.0,...,0,0,0,0,0,0,1,0,1,0
21,100025,0,0,1,1,1,202500.000,1132573.5,37561.5,927000.0,...,0,0,0,0,0,0,0,0,0,0
22,100026,0,0,0,0,1,450000.000,497520.0,32521.5,450000.0,...,0,0,0,0,0,1,0,0,1,0
23,100027,0,0,0,1,0,83250.000,239850.0,23850.0,225000.0,...,0,0,1,0,0,0,0,0,1,0
24,100029,0,0,1,0,2,135000.000,247500.0,12703.5,247500.0,...,0,0,0,0,0,1,0,0,1,0
25,100030,0,0,0,1,0,90000.000,225000.0,11074.5,225000.0,...,0,0,0,0,0,0,1,0,1,0
26,100031,1,0,0,1,0,112500.000,979992.0,27076.5,702000.0,...,0,0,0,0,0,0,0,1,0,1
27,100032,0,0,0,1,1,112500.000,327024.0,23827.5,270000.0,...,0,0,0,0,0,0,0,0,0,0
28,100033,0,0,1,1,0,270000.000,790830.0,57676.5,675000.0,...,0,0,0,0,0,0,0,0,0,0
29,100034,0,1,0,1,0,90000.000,180000.0,9000.0,180000.0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,0,0,1,0,225000.000,297000.0,19975.5,297000.0,...,0,0,0,0,0,0,0,0,0,0
307482,456226,0,0,1,1,0,225000.000,500566.5,34969.5,472500.0,...,0,1,0,0,0,0,0,0,1,0
307483,456227,0,0,0,1,0,99000.000,247275.0,16479.0,225000.0,...,0,0,0,0,0,0,1,0,1,0
307484,456228,0,0,1,0,0,540000.000,545040.0,35617.5,450000.0,...,0,0,0,0,0,0,0,0,0,0
307485,456229,0,1,0,1,1,270000.000,180000.0,9000.0,180000.0,...,0,0,0,0,0,0,0,0,0,0
307486,456230,0,0,1,1,1,292500.000,355536.0,18283.5,270000.0,...,0,0,0,0,0,1,0,0,1,0
307487,456231,0,0,0,1,0,117000.000,1071909.0,31473.0,936000.0,...,0,0,0,0,0,0,0,0,0,0
307488,456232,0,0,0,0,0,157500.000,135000.0,13351.5,135000.0,...,0,0,0,0,0,0,0,0,1,0
307489,456233,1,0,0,1,0,225000.000,521280.0,23089.5,450000.0,...,0,0,0,0,0,0,1,0,0,1
307490,456234,0,0,0,1,0,81000.000,135000.0,9148.5,135000.0,...,0,0,0,0,0,0,0,0,0,0
307491,456235,0,0,1,1,2,90000.000,1078200.0,31522.5,900000.0,...,0,0,0,0,0,0,0,0,0,0
307492,456236,0,0,1,1,0,585000.000,1575000.0,43443.0,1575000.0,...,0,0,0,0,0,0,0,0,0,0
307493,456237,0,0,0,1,0,135000.000,946764.0,37678.5,765000.0,...,0,0,0,0,0,0,0,0,0,0
307494,456238,0,0,1,0,1,270000.000,479700.0,46858.5,450000.0,...,0,0,0,0,0,0,0,0,0,0
307495,456239,0,0,1,0,0,180000.000,808650.0,23773.5,675000.0,...,0,0,0,0,0,1,0,0,1,0
307496,456240,0,1,0,0,0,360000.000,337500.0,16875.0,337500.0,...,0,0,0,0,0,0,0,0,0,0
307497,456241,0,0,1,1,0,180000.000,270126.0,12028.5,193500.0,...,0,0,0,0,0,0,0,0,0,0
307498,456242,0,0,1,1,0,198000.000,1312110.0,52168.5,1125000.0,...,0,0,0,0,0,1,0,0,1,0
307499,456243,0,0,0,1,0,81000.000,225000.0,12694.5,225000.0,...,0,0,0,0,0,0,0,0,0,0
307500,456244,0,0,0,1,0,261000.000,1303812.0,35982.0,1138500.0,...,0,0,0,0,0,1,0,0,1,0
307501,456245,0,0,0,1,3,81000.000,269550.0,11871.0,225000.0,...,0,0,0,0,0,0,1,0,1,0
307502,456246,0,0,0,1,1,94500.000,225000.0,10620.0,225000.0,...,0,0,0,0,0,0,0,0,0,0
307503,456247,0,0,0,1,0,112500.000,345510.0,17770.5,247500.0,...,0,0,0,0,0,0,0,0,0,0
307504,456248,0,0,0,1,0,153000.000,331920.0,16096.5,225000.0,...,0,0,0,0,0,0,0,0,0,0
307505,456249,0,0,0,1,0,112500.000,225000.0,22050.0,225000.0,...,0,0,0,0,0,1,0,0,1,0
307506,456251,0,0,0,0,0,157500.000,254700.0,27558.0,225000.0,...,0,0,0,0,0,0,1,0,1,0
307507,456252,0,0,0,1,0,72000.000,269550.0,12001.5,225000.0,...,0,0,0,0,0,0,1,0,1,0
307508,456253,0,0,0,1,0,153000.000,677664.0,29979.0,585000.0,...,0,0,0,0,0,1,0,0,1,0
307509,456254,1,0,0,1,0,171000.000,370107.0,20205.0,319500.0,...,0,0,0,0,0,0,1,0,1,0
307510,456255,0,0,0,0,0,157500.000,675000.0,49117.5,675000.0,...,0,0,0,0,0,1,0,0,1,0

可以觀察到原來的類別型欄位都轉為 0/1 了

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [8]:
app_train = pd.read_csv(f_app_train)
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [ ]:
"""
Your Code Here
"""