## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [18]:
data = {'國家':['Taiwan', 'Japan', 'USA'] ,
        '人口':np.random.randint(10000, 300000, size= 3) }
data = pd.DataFrame(data=data)

In [19]:
data

       人口      國家
0  239800  Taiwan
1  134189   Japan
2   47203     USA